* {
    font-family: nunito, serif;
}
  
  p {
    font-size: 1rem;
    color: #939393;
}

  .container {
    background-color: white;
    border-radius: 5px;
    max-width: 800px;
    padding: 20px 0px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.formulario {
    text-align: center;
}

  body {
    background-image: url("fondo.jpg");
    background-size: cover;
    background-position: center;
  }

  .redes-sociales {
    margin-right: 0;
}

.redes-sociales-items {
    display: flex;
    gap: 20px;
    align-items: center;
}

button {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 150px;
    padding: 10px 30px;
    background-color: red;
    border-radius: 25px;
    border: none;
}

.campos {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
} 

.campos input {
    width: 90%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
}

.campos .icono { 
    position:absolute;
    left: 15px;
    top: 12px;
    color: darkgray;
}

.call-to-action {
    text-align: center;
}

.icono {
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
